<div class='jumbotron'>
    <h1 class="display-3">PokemonApp</h1>
    <p class='lead'>
        <label for='date1Text'>Date :</label>
        <input type='text' class='form-control' id='date1Text'>
        <br/>
        <label for='date2Text'>Date :</label>
        <input type='text' class='form-control' id='date2Text'>
        <br/>
      <a class='btn btn-primary btn-lg' role='button' id='searchButton'>Zoek pokemon</a>
      <br/>
      <br/>
      <b>Gevonden pokemons : {{ pokemons }}</b>
    </p>
  </div>
  